@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

body {
  background: rgb(9, 9, 237);
}
#cursor {
  position: relative;
}
.typewriter {
  font-family: "Bebas Neue", cursive;
  color: rgb(16, 255, 0);
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid white;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
